spring:
  application:
    name: weski-prod
  datasource:
    url: ${MYSQL_URL}
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    open-in-view: false
    properties:
      hibernate:
        format_sql: false
        dialect: org.hibernate.dialect.MySQL8Dialect

logging:
  level:
    root: INFO
    nexters.weski: INFO
    sun.rmi: INFO

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

weather:
  api:
    key: ${WEATHER_API_KEY}

tmap:
  api:
    key: ${TMAP_API_KEY}

server:
  port: ${PORT:8080}

app:
  swagger:
    server-url:
      prod: ${SWAGGER_SERVER_URL_PROD:https://weski-server-production.up.railway.app}