spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

# 공통 설정
logging:
  level:
    org.springframework.web: INFO
    sun.rmi: INFO

# Swagger 공통 설정
springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
